
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particles-js{ 
  position:absolute; 
  width: 100%; 
  height: 100%; 
 
 }
:root{
--main-bg-color:#ef476f;
--board-bg-color:#ffd166;
--card-bg-color: linear-gradient(45deg, #036, #08F);
--text-color:#e4c1f9;
--darkblue-color:#d0f4de;
--card-size: 100px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  text-shadow: 2px 2px #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: block; 
  vertical-align: bottom;
}

.container{

  max-width: 900px;
  background-color: #ebe6ee;
  margin: 0 auto;
}

.bord{}

.game{
  background-color: var(--board-bg-color);
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  width: 450px;
  padding: 10px;
  margin: 0 auto;
}
.card{
  position: relative;
  cursor: pointer;
  width: var(--card-size);
  height: var(--card-size);
  line-height: var(--card-size);
  text-align: center;
  font-size: calc(var(--card-size) * 0.8);
  transform-style: preserve-3d;
  background-color: var(--card-bg-color);
  transition: transform .5s;
  border-radius: 5px;
  
}

.card-back, .card-front {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.card.flip{
  transform: rotateY(180deg);
}

.card-back{
  
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #FFF;
}
.card-front{
  background: var(--card-bg-color);
}
    
.playerForm{
  z-index: 1;
  position:absolute;
  max-width:100%;
  height:640px ;
  background-color: #000;
}

.playermenu{}

.scoreboard{
  left:90%;
  max-width: 100%;
  position:absolute;
  border: 5px solid rgb(5, 5, 5);
  height: 500px;
}
.matched-card {
  border: 5px solid red;
}

.updates{
  border: 5px solid rgb(8, 8, 8);
  height: 500px;

max-width: 100%;
}